---
layout: ""
page_title: "Windbag Provider"
description: |-
  The Windbag provider is used to build and manifest the Windows image crossing multi-release Windows hosts.
---

# Windbag Provider

The Windbag provider is used to build and manifest the Windows image crossing multi-release Windows hosts.

## Why I create this tool?

To package a Windows manifest Docker image(crossing multi-release) is a boring thing, honestly, I tired to setup these Windows hosts one-by-one and execute `docker build` from the lowest instance to highest one.

## How to enable SSH service on Windows?

I created a script to setup the SSH service on Windows, please have a shot if you like it:

``` powershell

# https://www.powershellgallery.com/packages/OpenSSHUtils/0.0.2.0/Content/OpenSSHUtils.psm1

# enable service
iwr -uri https://gist.githubusercontent.com/thxCode/cd8ec26795a56eb120b57675f0c067cf/raw/897f2c41df99832d6f88f663a9c2ac442dee4875/zz_sshd_manage.ps1 -UseBasicParsing | iex

# disable service
$SSHD_ENABLED="disabled"; iwr -uri https://gist.githubusercontent.com/thxCode/cd8ec26795a56eb120b57675f0c067cf/raw/897f2c41df99832d6f88f663a9c2ac442dee4875/zz_sshd_manage.ps1 -UseBasicParsing | iex

# configure a user with password
$env:SSH_USER="<user name>";
$env:SSH_USER_PASSWORD="<user password>";
iwr -uri https://gist.githubusercontent.com/thxCode/cd8ec26795a56eb120b57675f0c067cf/raw/897f2c41df99832d6f88f663a9c2ac442dee4875/zz_sshd_manage.ps1 -UseBasicParsing | iex

# configure a remote administrator with public key
$SSH_USER="<user name>";
$SSH_USER_PUBLICKEY="<user public key>";
iwr -uri https://gist.githubusercontent.com/thxCode/cd8ec26795a56eb120b57675f0c067cf/raw/897f2c41df99832d6f88f663a9c2ac442dee4875/zz_sshd_manage.ps1 -UseBasicParsing | iex

# configure a remote user with public key
$SSH_USER="<user name>";
$SSH_USER_GROUP="sshusers";
$SSH_USER_PUBLICKEY="<user public key>";
iwr -uri https://gist.githubusercontent.com/thxCode/cd8ec26795a56eb120b57675f0c067cf/raw/897f2c41df99832d6f88f663a9c2ac442dee4875/zz_sshd_manage.ps1 -UseBasicParsing | iex

```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

> *NOTE*
>
> The `windbag_worker` only support to use `ssh` protocol to connect to the Windows host at present.

## Advance Usage with Dynamic Provisioner

{{tffile "windbag/testdata/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
